In [6]:
import csv
import psycopg2
import pandas as pd
import urllib
from os import walk
from os.path import join
import json
from datetime import datetime
import re
import numpy as np

# NOx, SOx api

In [7]:
def one_week_data(item):
    #連接資料庫，取得一個禮拜nox資料
    conn = psycopg2.connect(dbname = "AQ_Doctor", user="postgres", password="adminadmin",port=5432,host='104.155.206.109')
    cur = conn.cursor()
    data = pd.read_sql_query("select * from cems_new WHERE m_time BETWEEN  (NOW() AT TIME ZONE 'Asia/Taipei') - interval '604800' AND (NOW() AT TIME ZONE 'Asia/Taipei') AND item='%s';"%(item),con=conn)
    conn.close()
    
    #計算各label總數
    data['code2desc'] = data['code2desc'].fillna('空值')
    tmp = data.groupby(['abbr','code2desc']).size()
    tmp = tmp.reset_index()
    
    #數值格式轉換用
    abbr2codedesc = dict()
    for row in tmp.itertuples():
        if row[1] not in abbr2codedesc:
            abbr2codedesc[row[1]] = dict()
        if row[2] not in abbr2codedesc[row[1]]:
            abbr2codedesc[row[1]][row[2]] = None
        abbr2codedesc[row[1]][row[2]] = row[3]
    
    #empty dataframe
    tmp = pd.DataFrame(columns=['公司','固定污染源暫停運轉時監測設施之量測值','正常排放量測值',
                      '每日定期零點或全幅偏移測試量測值','無效數據',
                     '監測設施維修保養量測值','超過排放標準量測值','其它無效量測值'])
    
    #數值填入emtpy dataframe
    for k,v in abbr2codedesc.items():
        v.update({'公司':k})
        tmp = tmp.append(v, ignore_index=True)
    
    tmp.iloc[:,1:] = tmp.iloc[:,1:] = tmp.apply(lambda x: x[1:]/np.sum(x[1:]),axis=1).round(2)
    #計算ratio
    return tmp

In [8]:
def Nox():
    return one_week_data(923)
def Sox():
    return one_week_data(922)

# def instant_24(cno:text )

In [42]:
def instant_24(cno):
    conn = psycopg2.connect(dbname = "AQ_Doctor", user="postgres", password="adminadmin",port=5432,host='104.155.206.109')
    cur = conn.cursor()

    data = pd.read_sql_query("select * from cems_new WHERE m_time BETWEEN \
        (NOW() AT TIME ZONE 'Asia/Taipei') - interval '86400' AND (NOW() AT TIME ZONE 'Asia/Taipei') AND (item='923' or item='922') AND cno='%s';"%(cno),con=conn)
    data = data[['m_time','item','m_val','polno']]
    data['m_time'] = data['m_time'].apply(lambda x : x.tz_localize('Asia/Taipei'))
    #製造時間軸
    #取得現在時間，round minutes
    now = pd.Timestamp.now('Asia/Taipei')
    minute = now.minute
    now = now.replace(second=0,microsecond=0)
    now = now - pd.offsets.Minute(minute%15)
    before = now - pd.offsets.Hour(24)
    time_series = pd.date_range(before, now, freq="15min")

    #篩選24小時內的data
    data = data[ (data.m_time <= now) & (data.m_time >= before)]
    #時間軸與data outer merge
    df = pd.DataFrame({'m_time':time_series})
    tmp2 = data.merge(df,how='outer',on=['m_time'])
   
    conn.close()
    return tmp2

def dataframe_trans(tmp):
    tmp2 = tmp.set_index(['m_time','item','polno']).unstack("polno").reset_index()
    tmp2 = tmp2.set_index(["m_time","item"])
    tmp2.columns = tmp2.columns.droplevel()
    tmp = tmp2.reset_index()
    return tmp

polno                    m_time item  NaN  P001  P002  P003  P004
0     2018-11-27 17:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
1     2018-11-27 18:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
2     2018-11-27 18:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
3     2018-11-27 18:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
4     2018-11-27 18:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
5     2018-11-27 19:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
6     2018-11-27 19:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
7     2018-11-27 19:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
8     2018-11-27 19:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
9     2018-11-27 20:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
10    2018-11-27 20:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
11    2018-11-27 20:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
12    2018-11-27 20:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
13    2018-11-27 21:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
14    2018-11-27 21:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
15    2018-11-27 21:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
16    2018-11-27 21:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
17    2018-11-27 22:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
18    2018-11-27 22:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
19    2018-11-27 22:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
20    2018-11-27 22:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
21    2018-11-27 23:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
22    2018-11-27 23:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
23    2018-11-27 23:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
24    2018-11-27 23:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
25    2018-11-28 00:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
26    2018-11-28 00:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
27    2018-11-28 00:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
28    2018-11-28 00:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
29    2018-11-28 01:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
..                          ...  ...  ...   ...   ...   ...   ...
69    2018-11-28 11:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
70    2018-11-28 11:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
71    2018-11-28 11:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
72    2018-11-28 11:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
73    2018-11-28 12:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
74    2018-11-28 12:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
75    2018-11-28 12:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
76    2018-11-28 12:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
77    2018-11-28 13:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
78    2018-11-28 13:15:00+08:00  922  NaN   2.0   6.0   0.0   0.0
79    2018-11-28 13:15:00+08:00  923  NaN  65.0  74.0   0.0   0.0
80    2018-11-28 13:30:00+08:00  922  NaN   2.0   6.0   0.0   0.0
81    2018-11-28 13:30:00+08:00  923  NaN  65.0  72.0   0.0   0.0
82    2018-11-28 13:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
83    2018-11-28 14:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
84    2018-11-28 14:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
85    2018-11-28 14:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
86    2018-11-28 14:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
87    2018-11-28 15:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
88    2018-11-28 15:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
89    2018-11-28 15:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
90    2018-11-28 15:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
91    2018-11-28 16:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
92    2018-11-28 16:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
93    2018-11-28 16:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
94    2018-11-28 16:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
95    2018-11-28 17:00:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
96    2018-11-28 17:15:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
97    2018-11-28 17:30:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN
98    2018-11-28 17:45:00+08:00  NaN  NaN   NaN   NaN   NaN   NaN

[99 rows x 7 columns]

                      m_time item  m_val polno
0  2018-11-28 13:30:00+08:00  923    0.0  P004
2  2018-11-28 13:30:00+08:00  923    0.0  P003
4  2018-11-28 13:30:00+08:00  923   72.0  P002
6  2018-11-28 13:30:00+08:00  923   65.0  P001
8  2018-11-28 13:15:00+08:00  923    0.0  P004
10 2018-11-28 13:15:00+08:00  923    0.0  P003
12 2018-11-28 13:15:00+08:00  923   74.0  P002
14 2018-11-28 13:15:00+08:00  923   65.0  P001

Index(['m_time', 'item', 'm_val', 'polno'], dtype='object')

BORDER            FRANCE  GERMANY  ITALY
           HOUR
2014-01-01 HOUR1       2        2      2
           HOUR2       3        3      3
           HOUR3       8        8      8
2014-01-02 HOUR1       4        4      4
           HOUR2       5        5      5
           HOUR3      12       12     12
2014-01-03 HOUR1       6        6      6
           HOUR2       7        7      7
           HOUR3      99       99     99